<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ theme_asset_path }}/css/1.4.0/bootstrap.css" rel="stylesheet">
    <link href="{{ theme_asset_path }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <link rel="shortcut icon" type="image/x-icon" href="{{ theme_asset_path }}/glider-favicon.ico">
	<link rel="alternate" type="application/atom+xml" href="{{ site.baseurl }}/atom.xml" title="Atom Feed" />
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <img src="{{ site.var.logo_path }}" id="logo" />
        <div class="container">
          <a class="brand" href="/">{{ site.title }}</a>
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include helpers/pages_list.html %}
            <li><a href="http://www.freistil.it">freistil.it</a></li>
            <li><a href="https://twitter.com/intent/user?screen_name=freistilops" target="_blank">Follow @freistilops</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <div class="page-header">
          <h1>{{ page.title }}</h1>
          <a class="rssfeed" href="/atom.xml" title="Atom Feed"><img src="{{ theme_asset_path }}/rss.png" /></a>

        </div>
        {{ content }}
      </div>

      <footer>
        <p><a href="http://www.freistil.it">freistil IT</a> - <a href="/credits.html">Credits</a></p>
      </footer>

    </div> <!-- /container -->
<script type="text/javascript" src="//asset0.zendesk.com/external/zenbox/v2.4/zenbox.js"></script>
<style type="text/css" media="screen, projection">
  @import url(//asset0.zendesk.com/external/zenbox/v2.4/zenbox.css);
</style>
<script type="text/javascript">
  if (typeof(Zenbox) !== "undefined") {
    Zenbox.init({
      dropboxID:   "20038501",
      url:         "https://freistil.zendesk.com",
      tabID:       "support",
      tabColor:    "black",
      tabPosition: "Left"
    });
  }
</script>
  </body>
</html>
